:root {
    --background: #e3ede5;
    --font: #222;
    --border: #333;
    --screen: #c18593;
    --calculator: #333c52;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-clr: #e2d0de;
    --btn-clr-hover: #a7719b;
    --btn-clr-active: #6e4465;
    --btn-del: #8d7e58;
    --btn-del-hover: #a79872;
    --btn-del-active: #8d7e58;
    --btn-operator: #b34db2;
    --btn-operator-active: #ca82c9;
    --btn-operator-hover: #a145a0;
    --btn-equals: #e8cfed;
    --btn-equals-hover: #d3a2dc;
    --btn-equals-active: #963fa7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 70px;
}


.calculator {
    width: 500px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    box-shadow: 26px 14px 21px 6px rgba(0,0,0,0.1);
}

.calculator > p {
    font-size: large;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0%;
}

.screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.result {
    min-height: 32px;
    font-size: 20px;
}

.user-input {
    min-height: 64px;
    font-size: 40px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}


.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    background-color: var(--btn);
    font-size: 20px;
}

#btn-operator {
    background-color: var(--btn-operator);
}

#btn-operator:hover {
    background-color: var(--btn-operator-hover);
}


#btn-operator:active {
    background-color: var(--btn-operator-active);
}

#equal {
    background-color: var(--btn-equals);
}

#equal:hover {
    background-color: var(--btn-equals-hover);
}

#equal:active {
    background-color: var(--btn-equals-active);
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.btn-clr {
    background-color: var(--btn-clr);
}

.btn-clr:hover {
    background-color: var(--btn-clr-hover);
}

.btn-clr:active {
    background-color: var(--btn-clr-active);
}

.btn-del {
    background-color: var(--btn-del);
}

.btn-del:hover {
    background-color: var(--btn-del-hover);
}

.btn-del:active {
    background-color: var(--btn-del-active);
}

footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    left: 0%;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

footer > p {
    color: #0d0d0d;
}

.fa-github {
    color: #000000;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.2);
}
